/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --button-color:#ff0070;
  --border-button-color: #FF007066;
  --angle-color: #ff0070;
  --after-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --header__title-color: #DB00FF;
  --par-text-color: #000028;
  --text-color: #F1B2CE;
  --rec-color: #ff0070;
  --bg-color: #000028;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

@media (prefers-color-scheme: dark) {
  :root {
    --button-color:#ff0070;
    --border-button-color: #FF007066;
    --angle-color: #ff0070;
    --after-color: #ff0070;
    --background-image: url(../images/cover-image-dark.png);
    --header__title-color: #DB00FF;
    --par-text-color: #000028;
    --text-color: #F1B2CE;
    --rec-color: #ff0070;
    --bg-color: #000028;
  }
}
 