/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-picture: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --header-logo-color: #db00ff;
  --header-text-color: #000028;
  --text-color: #f1b2ce;
  --subtitle-text-color: #ff0070;
  --menu-button-color: #ff0070;
  --title-text-color: var(--header-text-color);
  --footer-logo-color: #db00ff;
  --main-bg-color: #000028;
  --hover-button-color: #ff007066;
  --lines-color: #ff0070;

  .rec {
    display: flex;
  }
}