:root.theme-light {
  --bg-main-color: #FFF1F7;
  --bg-accent-color: #FF8DCB;
  --main-text-color: #353430;
  --accent-text-color: #353430;
  --text-shadow: #FFC2E6;
  --hover-opacity: #32312d66;
  --decor-color:#353430;
  --bg-image: url(../images/cover-image-light.png);
}

.theme-light .header-rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  
  :root {
    --bg-main-color: #FFF1F7;
    --bg-accent-color: #FF8DCB;
    --main-text-color: #353430;
    --accent-text-color: #353430;
    --text-shadow:#FFC2E6;
    --hover-opacity: #32312d66;
    --decor-color:#353430;
    --bg-image: url(../images/cover-image-light.png);
  }

  .header-rec {
    display: none;
  }
}