/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  --main-bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --bg-picture: url(../images/cover-image-light.png);
  --header-logo-color: #ffc2e6;
  --hover-button-color: #32312d66;
  --header-text-color: #000028;
  --subtitle-text-color: var(--text-color);
  --text-color: #353430;
  --menu-button-color: #353430;
  --title-text-color: #353430;
  --footer-logo-color: #ffc2e6;
  --lines-color: #353430;

  .rec {
    display: none;
  }
}

/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --bg-picture: url(../images/cover-image-light.png);
    --header-logo-color: #ffc2e6;
    --hover-button-color: #32312d66;
    --header-text-color: #000028;
    --subtitle-text-color: var(--text-color);
    --text-color: #353430;
    --menu-button-color: #353430;
    --title-text-color: #353430;
    --footer-logo-color: #ffc2e6;
    --lines-color: #353430;

    .rec {
      display: none;
    }
  }
}