/* general styles */
section {
  display: grid;
  gap: 20px;
  margin-block-end: 50px;
}

.title__decore {
  background-color: var(--accent-color);
}

/* general styles end */

/* body .page */

.page {
  background-image: var(--bg-picture);
  background-color: var(--main-bg-color);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/* body .page end */

/* header */

.header {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
}

.header__theme-menu-list {
  display: grid;
  justify-items: end;
  gap: 10px;
  list-style: none;
}

/* theme item */
.header__theme-menu-button {
  height: 26px;
  background-color: transparent;
  border: none;
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  color: var(--menu-button-color);
  text-transform: lowercase;
  line-height: 100%;
  text-align: center;
  padding-inline: var(--button-padding);
  transition: border 0.3s cubic-bezier(0.4, 0, 1, 0.99);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-button-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--menu-button-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--menu-button-color);
  padding-inline: var(--button-padding);
}

/*theme item end*/

.header__title {
  line-height: 83%;
  font-family: var(--main-font-family);
  color: var(--header-logo-color);
  font-size: var(--header-footer-font-size-s);
  text-shadow: 4px 4px 0px var(--header-text-shadow-color);
}

.header__text {
  font-family: var(--main-font-family);
  color: var(--title-text-color);
  font-size: var(--main-font-size);
  font-weight: var(--bold-font-weight);
  line-height: 23.4px;
}

/* lines */

.decorated-zone::before {
  top: 10px;
  right: 10px;
  align-self: flex-start;
  justify-self: end;
  position: absolute;
  content: "";
  inline-size: 25px;
  height: 25px;
  border-block-start: 1px solid var(--lines-color);
  border-inline-end: 1px solid var(--lines-color);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  justify-self: start;
  align-self: flex-end;
  position: absolute;
  content: "";
  inline-size: 25px;
  height: 25px;
  border-block-end: 1px solid var(--lines-color);
  border-inline-start: 1px solid var(--lines-color);
}

/* lines end */

/* rec */

.rec {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.rec::before {
  content: "REC";
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  color: var(--accent-color);
  text-align: center;
}

.rec::after {
  content: "";
  margin-inline-end: 9px;
  margin-block-start: 8px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

/* rec end */

/* header end */

/* content */
.content {
  padding-block-start: 40px;
  padding-inline: var(--main-padding);
  inline-size: 100%;
  display: grid;
}

.content__subtitle {
  color: var(--subtitle-text-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--line-height);
}

.content__blocks {
  gap: 20px;

  display: grid;
}

.content__block {
  display: grid;
  gap: 10px;
}

.content__block-title {
  font-family: var(--main-font-family);
  color: var(--title-text-color);
  inline-size: 100%;
  font-size: var(--main-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--line-height);
}

.content__block-subtitle {
  margin-block-start: 10px;
  font-family: var(--main-font-family);
  color: var(--title-text-color);
  inline-size: 100%;
  font-size: var(--main-font-size);
  font-weight: 400;
  line-height: var(--line-height);
}

.content__block-text {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  color: var(--text-color);
  line-height: var(--line-height);
}

.content_block-text-link {
  text-shadow: 1px 1px 0px var(--accent-color);
  text-decoration: none;
  transition: border-bottom 0.3s cubic-bezier(0.4, 0, 1, 0.99);
}

.content_block-text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.content_block-text-link:focus-visible {
  border: 1px solid var(--text-color);
  outline: none;
}

/* content end */

/* gallery */

.gallery {
  margin-block-end: 30px;
  gap: 0;
}

.gallery-container {
  display: grid;
  gap: 10px;
  margin-block-end: 10px;
  margin-block-start: 10px;
}

.image {
  inline-size: 100%;
}

/* gallery end */

/* footer */

.footer {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  line-height: 83%;
  font-family: var(--main-font-family);
  font-weight: var(--bold-font-weight);
  color: var(--footer-logo-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  block-size: 100vh;
  min-block-size: 668px;
  font-size: var(--header-footer-font-size-s);
}

/* footer end */

@media (width >= 768px) {
  /* general styles */

  section {
    margin-block-end: 80px;
  }

  /* general styles end */

  /* header */

  .header {
    padding: 20px;
  }

  .header__title {
    margin-left: -20px;
    font-size: var(--header-footer-font-size-l);
  }

  .header__text {
    inline-size: 50%;
    justify-self: flex-end;
  }

  /* lines */

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  /* lines end */

  /* rec */

  .rec {
    top: 20px;
    right: 20px;
  }

  /* rec end */

  /* header end */

  .content {
    padding-inline: 20px;
    padding-block-start: 60px;
  }

  /* why */

  .why {
    column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .why .content__block {
    grid-column: 2;
  }

  /* why end */

  /* causes */

  .causes {
    grid-template-columns: repeat(4, 1fr);

    .content__blocks {
      grid-template-columns: repeat(3, 1fr);
      display: grid;
      grid-column: 1 / -1;
    }
  }

  .causes .content__block {
    grid-column: 1 / -1;
  }

  /* causes end */

  .advices {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    margin-block-end: 80px;
  }

  /* gallery */

  .gallery-container {
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 20px;
    margin-block-start: 20px;
    margin-block-end: 30px;
  }

  .gallery-container img {
    inline-size: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    margin: 0;
    padding: 0;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .sunset {
    grid-area: sunset;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  /* gallery end */

  /* footer */

  .footer {
    font-size: var(--header-footer-font-size-l);
  }

  .footer.decorated-zone::after {
    bottom: 23px;
  }

  .footer.decorated-zone::before {
    top: 17px;
  }

  /* footer end */
}

@media (width >= 1024px) {
  .header {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-content: normal;
  }

  .header__title {
    grid-row: 2 / 6;
    grid-column: 1 / span 3;
  }

  .header__text {
    grid-row: 5;
    grid-column: 1 / span 3;
    align-self: end;
    margin-block-end: -7px;
  }

  .header__theme-menu {
    grid-column: 2 / 3;
    align-self: flex-start;
    justify-self: center;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .why {
    column-gap: 10px;
  }

  .causes {
    grid-template-columns: repeat(3, 1fr);

    .content__blocks {
      grid-template-columns: repeat(3, 1fr);
      display: grid;
      grid-column: 1 / -1;
    }

    .content__block {
      grid-template-rows: min-content 1fr;
      grid-column: auto;
    }
  }
  .advices {
    column-gap: 10px;
  }
}